<div id="content" class="p-4 p-md-5 pt-5">
<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1>Students List</h1>
            <h1 id="msg" class="text-danger">No Students to show.</h1>
        </div>
    </div>
    <table class="table table-responsive-lg table-striped table-light">
        <thead class="thead-dark">
            <th>Sl.No</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Total Mark</th>
            <th>Action</th>
        </thead>
        <tbody id="tb"></tbody>
    </table>
</div>