<script src="Controller/changePasswordController.js"></script>
<div id="content" class="p-4 p-md-5 pt-5">
<div class="container w-50 bg-light shadow p-3">
    <h2 class="text-center">Change Password</h2>
    <form action="" method="post" id="myform">
        <div class="row form-group">
            <div class="col">
                <label for="pword">Current Password</label>
                <input type="password" id="pword" name="pword" placeholder="Current Password" required class="form-control">
            </div>
        </div>
        <div class="row form-group">
            <div class="col">
                <label for="npword">New Password</label>
                <input type="password" id="npword" name="npword" placeholder="New Password" required class="form-control">
            </div>
        </div>
        <div class="row form-group">
            <div class="col">
                <label for="cpword">Confirm Password</label>
                <input type="password" id="cpword" name="cpword" placeholder="Confirm Password" required class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col alert-danger" id="msg"></div>
        </div>
        <div class="row form-group">
            <div class="col text-right">
                <button type="reset" class="btn btn-outline-danger">Cancel</button>
                <button type="submit" class="btn btn-outline-success">Submit</button>
            </div>
        </div>
    </form>
</div>