<script src="Controller/getExamListController.js"></script>
<div id="content" class="p-4 p-md-5 pt-5">
<div class="container shadow">
    <div class="row">
        <div class="col text-center">
            <h1 class="text-light">Examination List</h1>
            <h1 id="msg" class="text-danger">No Exams to show.</h1>
        </div>
    </div>
    <table class="table table-responsive-lg table-striped table-light">
        <thead class="thead-dark">
            <th>Sl.No</th>
            <th>Exam Name</th>
            <th>Date</th>
            <th>Semester</th>
            <th>Action</th>
        </thead>
        <tbody id="tb"></tbody>
    </table>
</div>